{% extends "base.html" %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <!--<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">6 Month Dashboard</h1>

    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
    </div>
  </div>

  <canvas class="my-4" id="myChart" width="900" height="380"></canvas>
-->
  <h2>Overview</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th><a href="/water">Water (Avg. Gallons / Day)</a></th>
          <th><a href="/gas">Gas (Therms) </a></th>
          <th><a href="/electricity">Electricity (kWh)</a></th>
          <th><a href="/car_miles">VMT (miles)</a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Trending*</td>
          {%if year_to_date_values.0 < avg_ytd_values.0%}
            <td><span data-feather="arrow-down-right"></span></td>
          {%else%}
            <td><span data-feather="arrow-up-right"></span></td>
          {%endif%}
          {%if year_to_date_values.1 < avg_ytd_values.1%}
            <td><span data-feather="arrow-down-right"></span></td>
          {%else%}
            <td><span data-feather="arrow-up-right"></span></td>
          {%endif%}
          {%if year_to_date_values.2 < avg_ytd_values.2%}
            <td><span data-feather="arrow-down-right"></span></td>
          {%else%}
            <td><span data-feather="arrow-up-right"></span></td>
          {%endif%}
          {%if year_to_date_values.3 < avg_ytd_values.3%}
            <td><span data-feather="arrow-down-right"></span></td>
          {%else%}
            <td><span data-feather="arrow-up-right"></span></td>
          {%endif%}
        </tr>
        <tr>
          <td>YTD</td>
          {%for YTD in year_to_date_values%}
            <td>{{YTD}}</td>
          {%endfor%}
        </tr>
        <tr>
          <td>Prev YTD</td>
          {%for prev_YTD in prev_year_to_date_values%}
            <td>{{prev_YTD}}</td>
          {%endfor%}
        </tr>
        <tr>
          <td>Prev YTD (all avg.)</td>
          {%for prev_YTD_all in avg_ytd_values%}
            <td>{{prev_YTD_all}}</td>
          {%endfor%}
        </tr>
      </tbody>
    </table>
    <p>*Trending is the direction against the current year's YTD value against all historical averages. "Prev YTD (all avg.)"</p>
  </div>
</main>
{% endblock %}