<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="bar-chart-2"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/water">
          <span data-feather="bar-chart-2"></span>
          Water
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gas">
          <span data-feather="bar-chart-2"></span>
          Gas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/electricity">
          <span data-feather="bar-chart-2"></span>
          Electricity
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/car_miles">
          <span data-feather="bar-chart-2"></span>
          Car Miles
        </a>
      </li>
    </ul>
  </div>
</nav>